{:deps {no.larstvei/litt {:local/root "."}}
 :tasks {definition-info litt.core/definition-info
         typeset litt.core/typeset
         list-definitions litt.core/list-definitions
         report-coverage litt.core/report-coverage
         lsp litt.core/lsp}}
