:root {
    color-scheme: light dark;

    --light-bg: #fafafa;
    --dark-bg: #2E3440;
    --light-color: #37474F;
    --dark-color: #ECEFF4;

    --light-tint: rgba(0, 0, 0, 0.05);
    --dark-tint: rgba(255, 255, 255, 0.05);
}

body {
    max-width: 72ch;
    margin: 0 auto;
    padding: 2rem 2rem;

    font-family: "Source Serif Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;

    text-align: justify;
    hyphens: auto;
    line-height: 1.6;

    background-color: light-dark(var(--light-bg), var(--dark-bg));
    color: light-dark(var(--light-color), var(--dark-color));
}

pre {
    background-color: light-dark(var(--light-tint), var(--dark-tint));
    padding: 1rem;
    border-radius: 1rem;
    overflow: scroll;
}

code {
    font-family: "Source Code Pro", monospace;
}

h1 {
    text-align: left;
}

b, strong, h1, h2, h3, h4, h5 {
    font-weight: 600;
}

.footnote-ref {
    text-decoration: none;
}

.references {
    text-align: left;
    word-wrap: break-word;
}
