:root {
    color-scheme: light dark;

    --bg: light-dark(#FAFAFA, #2E3440);
    --fg: light-dark(#37474F, #ECEFF4);
    --primary: light-dark(#673AB7, #81A1C1);
    --secondary: light-dark(#90A4AE, #677691);
    --tint: light-dark(rgba(0, 0, 0, 0.01), rgba(0, 0, 0, 0.05));
}

body {
    max-width: 72ch;
    margin: 0 auto;
    padding: 2rem 2rem;

    font-family: "Source Serif Pro", serif;
    font-optical-sizing: auto;
    font-style: normal;

    text-align: justify;
    hyphens: auto;
    line-height: 1.6;

    background-color: var(--bg);
    color: var(--fg);
}

pre {
    background-color: var(--tint);
    border: solid thin var(--secondary);
    padding: 1rem;
    border-radius: 1rem;
    overflow: scroll;
}

code {
    font-family: "Source Code Pro", monospace;
    hyphens: none;
}

h1 {
    text-align: left;
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-underline-offset: 0.125em;
}

b, strong, h1, h2, h3, h4, h5 {
    font-weight: 600;
}

a {
    color: var(--primary);
    text-underline-offset: .15em;
    text-decoration-color: transparent;
    transition: text-decoration-color .25s ease;
}

a:hover,
a:focus-visible {
    text-decoration-color: currentColor;
}

.columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footnote-ref {
    text-decoration: none;
}

.references {
    text-align: left;
    word-wrap: break-word;
}

.special-form, .macro, .keyword {
    color: var(--primary);
}

.string {
    color: var(--secondary);
}
